/*  
  MEDIA QUERY BREAKPOINTS 
*/
$mobile-portrait: 23.4375em; // 375px
$mobile-landscape: 30em; // 480px
$tablet-portrait: 48em; // 768px
$tablet-landscape: 62em; // 992px
$laptop: 75em; // 1200px
/* rem breakpoints for calculations */
$mobile-portrait-rem: 37.5rem; // 375px
$mobile-landscape-rem: 48rem; // 480px
$tablet-portrait-rem: 76.8rem; // 768px
$tablet-landscape-rem: 99.2rem; // 992px
$laptop-rem: 120rem; // 1200px

$size__site-main: 100%;
$size__site-sidebar: 25%;