.site-header {
  .site-header__container {
    padding: 32px 0;
    display: flex;
    flex-direction: row;
    .site-branding {
      margin-right: 32px;
      max-height: 48px;
    }
    .site-navigation__actions {
      margin-left: auto;
      .site-navigation__search-button {
        font-size: 16px;
      }
    }
  }
}