.content-area {
	max-width: 600px;
}

.sticky {
	display: block;
}

.post,
.page {
	
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	
}

.page-links {
	clear: both;
	
}
